In [1]:
print("Mosh Hamedani") # can print in "" and ''
print('o----')
print(' ----')
print('')

Mosh Hamedani
o----
 ----

In [6]:
# taking input from the user
# using variable values in print with string

name = input('What is your name? ')
color = input('What is your favorite color? ')
print(name + ' likes ' + color)

What is your name? Prafful
What is your favorite color? Blue
Prafful likes Blue

In [8]:
# using '' inside "". Vice versa can also be done.

course ="Python's Course for Beginners"
print(course)

Python's Course for Beginners

In [14]:
# LIST ARE MUTABLE (CHANGEABLE); 
# Creating list, Printing list & each element of the list

courses = ['History','Math','Physics','CompSci']
print(courses)
print(courses[0])
print(courses[1])
print(courses[2])
print(courses[3])

['History', 'Math', 'Physics', 'CompSci']
History
Math
Physics
CompSci

In [15]:
# List Slicing
# courses[start index, end index + 1]
# prints from sart to end index

print(courses[0:2])

['History', 'Math']

In [16]:
# adding values in list.

courses.append('Art')
print(courses)

['History', 'Math', 'Physics', 'CompSci', 'Art']

In [17]:
# adding values at a specific location in list

courses.insert(0,'Art')
print(courses)

['Art', 'History', 'Math', 'Physics', 'CompSci', 'Art']

In [18]:
# adding one list elements to another

courses_1 = ['History','Math','Physics','CompSci']
courses_2 = ['Art','Education']

courses_1.extend(courses_2)
print(courses_1)

# using insert or append methods will add one list inside the other.

['History', 'Math', 'Physics', 'CompSci', 'Art', 'Education']

In [19]:
# remove value from the list

courses.remove('Math')
print(courses)

['Art', 'History', 'Physics', 'CompSci', 'Art']

In [21]:
# remove last value from the list, 
# returns the pop value as well

pop_value = courses.pop()
print(courses)
print(pop_value)

['Art', 'History', 'Physics']
CompSci

In [22]:
# Reverse our list

courses.reverse()
print(courses)

['Physics', 'History', 'Art']

In [24]:
# Sorting our list
# Sorts alphabetically, in ascending order

num = [1,5,4,2,3]
num.sort
print(num)

courses.sort()
print(courses)

[1, 5, 4, 2, 3]
['Art', 'History', 'Physics']

In [26]:
# Sorting list in descending order

num.sort(reverse=True)
courses.sort(reverse=True)

print(num)
print(courses)

[5, 4, 3, 2, 1]
['Physics', 'History', 'Art']

In [27]:
# getting new sorted list 
# without changing the original list

sorted_courses = sorted(courses)
sorted_num = sorted(num)

print(sorted_courses)
print(sorted_num)

['Art', 'History', 'Physics']
[1, 2, 3, 4, 5]

In [28]:
# getting min, max & sum of numbered list

print(min(num))
print(max(num))
print(sum(num))

1
5
15

In [29]:
# getting index of a particular value from a list

courses = ['History','Math','Physics','CompSci']

print(courses.index('Physics'))

2

In [31]:
# checking if the value is in the list or not

print('Art' in courses)
print('Math' in courses)

False
True

In [33]:
# printing each item of list through for loop

courses = ['History','Math','Physics','CompSci']

for item in courses:
    print(item)
    
# item is just a variable, we can use anything we want

History
Math
Physics
CompSci

In [34]:
# enumerate Fn 
# -> returns index & value of items in the list,
# -> takes list name & index from where we want to start printing

courses = ['History','Math','Physics','CompSci']

for index,course in enumerate(courses, start=1):
    print(index,course)

1 History
2 Math
3 Physics
4 CompSci

In [35]:
# converting our string list into 1 single string separated with -
# joining all items of the list into a single string with a separator

courses = ['History','Math','Physics','CompSci']

course_str = ' - '.join(courses)

print(course_str)

History - Math - Physics - CompSci

In [36]:
# reversing above process
# extracting items from a single string having a separator

print(course_str)

new_list = course_str.split(' - ')
print(new_list)

History - Math - Physics - CompSci
['History', 'Math', 'Physics', 'CompSci']

In [38]:
# Example of Mutable(Lists)

list_1 = ['History','Math','Physics','CompSci']
list_2 = list_1

print(list_1)
print(list_2)

list_1[0] = 'Art'

print(list_1)
print(list_2)

# There's only one list, which is assigned to two variables,
# Thus we can change the list using any variable

['History', 'Math', 'Physics', 'CompSci']
['History', 'Math', 'Physics', 'CompSci']
['Art', 'Math', 'Physics', 'CompSci']
['Art', 'Math', 'Physics', 'CompSci']

In [40]:
# Tuples uses () & Lists uses []
# TUPLES ARE IMMUTABLE (CAN'T BE CHANGED)
# Example of Immutable(Tuples)

tuple_1 = ('History','Math','Physics','CompSci')
tuple_2 = tuple_1

tuple_1[0] = 'Art'

print(tuple_1)
print(tuple_2)

# results in error bcoz tuple values can't be changed

TypeError: 'tuple' object does not support item assignment

In [41]:
# Modifying tuples is not possible,
# Rest all methods such as printing can be done on tuples

In [53]:
# SETS are values that are unordered
# don't have duplicate values
# uses {}

cs_courses = {'History','Math','Physics','CompSci'}

print(cs_courses)
# items can be printed in any order

{'Physics', 'Math', 'CompSci', 'History'}

In [54]:
# adding duplicate value in set will print only the original

cs_courses = {'History','Math','Physics','CompSci','Math'}

print(cs_courses)

{'Physics', 'Math', 'CompSci', 'History'}

In [55]:
# Set Membership Test 
# Checking for a particular item in set 
# More efficient than List,Tuples

cs_courses = {'History','Math','Physics','CompSci'}

print('Math' in cs_courses)
print('Science' in cs_courses)

True
False

In [58]:
# getting common, uncommon and union of items of 2 sets

cs_courses = {'History','Math','Physics','CompSci'}
art_courses = {'History','Math','Art','Design'}

print(cs_courses.intersection(art_courses))
# prints common items

print(cs_courses.difference(art_courses))
# prints uncommon items (cs-art)

print(cs_courses.union(art_courses))
# prints all items 
# no duplicate values will be printed if it exists.

{'Math', 'History'}
{'Physics', 'CompSci'}
{'Design', 'Math', 'History', 'Art', 'Physics', 'CompSci'}

In [59]:
# Empty Lists

empty_list = []
empty_list = list()

In [60]:
# Empty Tuples

empty_tuple = ()
empty_tuple = tuple()

In [61]:
# Empty Sets

empty_set = {}  # This isn't right! It creates a dict
empty_set = set()