In [ ]:
# independent variables(X) are independent
# dependent variables/target variables(Y) depends on independent variables

# Data given to train the model - Training Data
# Data given to test the model - Testing Data

# 70-80% data is used as training data
# 20-30% data is used as testing data

# x_train -- training data && independent variable
# y_train -- training data && dependent variable

# x_test -- testing data && independent variable
# y_test -- testing data && dependent variable

# In training, we'll give both x_train and y_train
# But in testing, we'll give only x_test and tell the model to predict y_test

# if predicted y_test = actual y_test; error is low

In [1]:
import pandas as pd
df = pd.read_csv("C:\\Users\\DELL\\Downloads\\ML + NN by iNeuron\\Session_2\\iris_data.csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
X = df[['sepal_length','sepal_width','petal_length','petal_width']]
Y = df['species']

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,random_state=5)
# train_test_split(Ind. var, Dep. var,test_size/train_size,random_state)
# test_size -- 0.2 means 20% is used to test data
# random state -- data is shuffled randomly and states are created to reduce biasness 1,2,3 is fine for beginners

X_train

     sepal_length  sepal_width  petal_length  petal_width
39            5.1          3.4           1.5          0.2
53            5.5          2.3           4.0          1.3
79            5.7          2.6           3.5          1.0
10            5.4          3.7           1.5          0.2
50            7.0          3.2           4.7          1.4
..            ...          ...           ...          ...
8             4.4          2.9           1.4          0.2
73            6.1          2.8           4.7          1.2
144           6.7          3.3           5.7          2.5
118           7.7          2.6           6.9          2.3
99            5.7          2.8           4.1          1.3

[120 rows x 4 columns]

In [8]:
X_test

     sepal_length  sepal_width  petal_length  petal_width
82            5.8          2.7           3.9          1.2
134           6.1          2.6           5.6          1.4
114           5.8          2.8           5.1          2.4
42            4.4          3.2           1.3          0.2
109           7.2          3.6           6.1          2.5
57            4.9          2.4           3.3          1.0
1             4.9          3.0           1.4          0.2
70            5.9          3.2           4.8          1.8
25            5.0          3.0           1.6          0.2
84            5.4          3.0           4.5          1.5
66            5.6          3.0           4.5          1.5
133           6.3          2.8           5.1          1.5
102           7.1          3.0           5.9          2.1
107           7.3          2.9           6.3          1.8
26            5.0          3.4           1.6          0.4
23            5.1          3.3           1.7          0.5
123           6.3          2.7           4.9          1.8
130           7.4          2.8           6.1          1.9
21            5.1          3.7           1.5          0.4
12            4.8          3.0           1.4          0.1
71            6.1          2.8           4.0          1.3
128           6.4          2.8           5.6          2.1
48            5.3          3.7           1.5          0.2
72            6.3          2.5           4.9          1.5
88            5.6          3.0           4.1          1.3
148           6.2          3.4           5.4          2.3
74            6.4          2.9           4.3          1.3
96            5.7          2.9           4.2          1.3
63            6.1          2.9           4.7          1.4
132           6.4          2.8           5.6          2.2

In [9]:
Y_train

39         setosa
53     versicolor
79     versicolor
10         setosa
50     versicolor
          ...
8          setosa
73     versicolor
144     virginica
118     virginica
99     versicolor
Name: species, Length: 120, dtype: object

In [10]:
Y_test

82     versicolor
134     virginica
114     virginica
42         setosa
109     virginica
57     versicolor
1          setosa
70     versicolor
25         setosa
84     versicolor
66     versicolor
133     virginica
102     virginica
107     virginica
26         setosa
23         setosa
123     virginica
130     virginica
21         setosa
12         setosa
71     versicolor
128     virginica
48         setosa
72     versicolor
88     versicolor
148     virginica
74     versicolor
96     versicolor
63     versicolor
132     virginica
Name: species, dtype: object

In [11]:
X_train.count()

sepal_length    120
sepal_width     120
petal_length    120
petal_width     120
dtype: int64

In [12]:
X_test.count()

sepal_length    30
sepal_width     30
petal_length    30
petal_width     30
dtype: int64

In [13]:
Y_train.count()

120

In [14]:
Y_test.count()

30