In [1]:
# STRINGS
# collection of characters inside single quotes or double quotes

first_name = "Harshit"
last_name = "Vashishta"
full_name = first_name + " " + last_name
print(full_name)

# print(first_name + 3) error
print(first_name + "3")  # no error
print(first_name + str(3))  # no error

print(first_name * 3)

Harshit Vashishta
Harshit3
Harshit3
HarshitHarshitHarshit

In [ ]:
# USER INPUT
# input function
name = input("type your name")
print("hello " + name)

# Always takes input in form of string

age = input("what is your age ?")
# "24"
print("your age is " + age)

# age string got concatencated without any error

In [ ]:
# INT() FUNCTION

number_one = input("enter first number")  # string
numer_two = input("enter second number")  # string
total = number_one + numer_two            # string
print("total is " + total)                # string
# total = "4" + "4" = 44

number_three = int(input("enter first number"))
number_four = int(input("enter second number"))
total2 = number_three + number_four
print("total is " + str(total2))

number1 = str(4)
number2 = float("44")
number3 = int("33")
print(number2 + number3)  # float

In [ ]:
# MORE ABOUT VARIABLES

name, age = "Harshit", "24"
print("hello " + name + " your age is " + age)
x = y = z = 1
print(x+y+z)

In [ ]:
# MORE THAN ONE INPUT IN ONE LINE

# name = input("enter your name : ")
# age = input("enter your age : ")

name, age = input("enter your name and age ").split(
    ",")  # separate values with comma

# name,age = input("enter your name and age ").split() # in this separate with a space

print(name)
print(age)

In [ ]:
# STRING FORMATTING

name = "harshit"
age = 24

print("hello " + name + " your age is " + str(age))   # ugly syntax

print("hello {} your age is {} ".format(name, age + 2))   # python 3

print(f"hello {name} your age is {age + 2}")   # clean

In [ ]:
# EXCERCISE 1

# Ask user to input 3 numbers and you have to print average of three numbers using string formatting
# Bonus :- try to take all three comma separated inputs in one line.

num1, num2, num3 = input("enter 3 numbers : ").split(",")
print((int(num1) + int(num2) + int(num3))/3)

In [ ]:
# STRING INDEXING
language = "python"

# positions(index number)

# p = 0 , -6        (starts with 0 index)
# y = 1 , -5
# t = 2 , -4
# h = 3 , -3
# o = 4 , -2
# n = 5 , -1        (starts with -1 index)

print(language[-4])
print(language[-6])
print(language[-5])

In [ ]:
# STRING SLICING
# slicing / selecting sub sequences
lang = "Python"
# print(lang[4])
# syntax - [start argument : stop argument -1 ]

print(lang[3:6])    # 3 se start hoga orr 6 se pehle stop hojaaega
print(lang[:3])     # 2 tk print hoga 3 print nhi hoga
print(lang[3:])     # 3 se start orr end tk sb print honge

In [ ]:
# SLICING STEP ARGUMENTS

# syntax - [start argument : stop argument -1 : step]

print("Harshit"[0:5])       # 0 se 4 tk print hoga
# 0 se 4 tk print, 1 step at a time, same o/p as above
print("Harshit"[0:5:1])


print("Harshit"[0:5:2])    # Taking 2 step at a time, skips one index
print("Harshit"[0::2])

# starts from i ends at h, taking one step back at a time
print("Harshit"[5::-1])

print("Harshit"[-1::-1])  # reverse the string
# same as above, reverses the string, considers blank as -1
print("Harshit"[::-1])

In [ ]:
# Excercise 2

# Ask user name and print back user name in reverse order
# Note :- try to make your program in 2 lines using string formatting

fname, lname = input("Enter your name : ").split(",")
print(f"name in reverse is {lname[::-1] + fname[::-1]}")

In [ ]:
# STRING METHODS PART 1

name = "HaRsHiT vASHISThA"

# len() function     # calculates length, counts spaces as well
length = len(name)
print(length)

# lower() method    # turns into lowercase
print(name.lower())

# upper() method    # turns into uppercase
print(name.upper())

# title() method     # turns first letter capital, H & V both becomes capital
print(name.title())

# count() method     # counts the character, it is case sensitive
print(name.count("h"))
print(name.count("H"))

In [ ]:
# EXERCISE 3

# take two comma separated inputs from the user
# 1.) user's name
# 2.) a single character

username, char = input("Enter username and a character : ").split(",")

# output - 2 print lines
# 1.) user's name length
# 2.) count the character that user inputed (bonus : case insensitive count)

print(len(username))
print(int(username.count((char.upper()))) +
      int(username.count((char.lower()))))

# dont use double quotes in count here
# he stripped the input then turned into lower space for name and char

# print(f"character count : {name.strip().lower().count(char.strip().lower())})
# print(f"length of your name is {len(name.strip())}")

In [ ]:
# STRIP METHOD

name = "          Harshit         "
dots = ".........................."

print(name + dots)
print(name.lstrip() + dots)           # remove spaces to left
print(name.rstrip() + dots)           # remove spaces to right
print(name.strip() + dots)            # remove spaces left and right
print(name.replace(" ", "") + dots)    # replace space with blanks

In [ ]:
# REPLACE AND FIND METHOD
# replace() method
# find() method

string = "she is beautiful and she is good dancer"
print(string.replace(" ", "_"))
print(string.replace("is", "was"))
print(string.replace("is", "was", 1))     # replace only first is

print(string.find("is"))              # gives index
print(string.find("is", 5))           # finds after 5th index

is_pos1 = string.find("is")                 # is_pos1 ---> number
is_pos2 = string.find("is", is_pos1 + 1)    # finds the next is
print(is_pos2)

In [ ]:
# CENTER METHOD
name = "harshit"
# **harshit** , 11
print(name.center(11, "*"))

name = input("enter your name : ")
print(name.center(len(name)+8, "*"))
print(name.center(len(name)+6, "*"))
print(name.center(len(name)+1, "*"))

In [ ]:
# STRINGS ARE IMMUTABLE
string = "string"
print(string[1])
# string[1] = 'T'   # doesn't changes as strings are immutable
print(string)

# this will create a new string with capital T
new_string = string.replace('t', 'T')

print(new_string)

In [ ]:
# strings
# string indexing
# string slicing
# take user input
# take two user inputs
# len function
# lower, upper, title, count method
# find, replace, center method
# strings are immutable